.about {
  display: grid;
  grid-template-columns: 1fr;
  color: var(--black);
  height: 100%;
}
.about h2 {
  font-size: 2em;
  margin: 20px 0 10px 0;
}
.about div:nth-child(1) {
  background-color: #20232a;
  padding: 20px 10px 0 10px;
}
.about div:nth-child(1) div:nth-child(2) {
  margin: 20px auto;
  font-size: 18px;
  line-height: 1.5;
  color: var(--white);
  width: fit-content;
}
.about div:nth-child(2) {
  margin: 25px auto;
}
.aboutContent {
  max-width: 800px;
  width: 220px;
}
.aboutContent p {
  font-size: 16px;
  line-height: 1.5;
}

@media only screen and (min-width: 320px) {
  .about div:nth-child(1) {
    padding: 10px 30px;
  }
  .aboutContent {
    width: 260px;
  }
}
@media only screen and (min-width: 360px) {
  .about div:nth-child(1) {
    padding: 10px 25px;
  }
}
@media only screen and (min-width: 375px) {
  .about div:nth-child(1) div:nth-child(2) {
    margin: 35px auto;
    font-size: 22px;
  }
  .aboutContent {
    width: 320px;
  }
  .aboutContent h2 {
    font-size: 40px;
  }
  .aboutContent p {
    font-size: 22px;
  }
}

@media only screen and (min-width: 410px) {
  .about div:nth-child(1) {
    padding: 40px 60px;
  }
  .about div:nth-child(1) div:nth-child(2) {
    font-size: 22px;
    line-height: 1.4;
  }
  .aboutContent h2 {
    font-size: 40px;
  }
  .aboutContent p {
    font-size: 22px;
  }
}
@media only screen and (min-width: 768px) {
  .about div:nth-child(1) {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  .about div:nth-child(1) {
    margin-bottom: 20px;
  }

  .about div:nth-child(1) div:nth-child(1) {
    width: 300px;
    height: 300px;
  }
  .about div:nth-child(1) div:nth-child(2) {
    width: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto 0;
  }
  .about div:nth-child(1) div:nth-child(2) p {
    margin: 5px;
    width: fit-content;
  }
  .aboutContent {
    width: 600px;
  }
  .aboutContent p {
    font-size: 20px;
    line-height: 1.8;
  }
}
@media only screen and (min-width: 1024px) {
  .about div:nth-child(1) div:nth-child(1) {
    margin: 50px;
    width: 400px;
    height: 400px;
  }

  .about div:nth-child(1) div:nth-child(2) {
    margin: auto;
    padding: 10px;
    width: fit-content;
  }
  .about div:nth-child(1) div:nth-child(2) p {
    font-size: 30px;
  }
}
@media only screen and (min-width: 1200px) {
  .about {
    display: grid;
    grid-template-columns: 1fr 4fr;
    height: calc(100vh - 100px);
  }
  .about div:nth-child(1) {
    display: block;
    background-color: var(--black);
    color: var(--white);
    margin-bottom: 0;
  }

  .about div:nth-child(1) div:nth-child(1) {
    width: initial;
    height: initial;
    margin: 0 10px 10px 10px;
    padding: 0;
  }

  .about div:nth-child(1) div:nth-child(2) {
    margin: 30px auto;
    width: fit-content;
  }
  .about div:nth-child(1) div:nth-child(2) p {
    font-size: 22px;
    margin: 5px;
  }
  .aboutContent {
    width: 800px;
    margin: auto;
  }
  .about h2 {
    font-size: 2em;
    margin: 20px 0 10px 0;
  }
}
