.details {
  padding: 80px 200px;
  height: calc(100vh - 260px);
}

.details h2 {
  font-size: 3.5em;
}
.details h3 {
  font-size: 2em;
  font-weight: 400;
  margin-bottom: 40px;
}
.html {
  margin-top: 40px;
}
.html p {
  font-size: 18px;
}
