.header {
  display: grid;
  grid-template-columns: 1fr;
  color: #20232a;
  height: calc(100vh - 175px);
}
.blogsContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 40px;
}
.blogsContainer > h2 {
  display: none;
}
.blogsContainer > h3 {
  display: none;
}
.blogs {
  display: grid;
  grid-template-columns: 1fr;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  grid-gap: 10px;
}
.blogs h3 {
  text-align: center;
  margin: 20px 0px;
  font-weight: 500;
}
.blogs p {
  color: #20232a;
  margin: 4px 0;
}

.blogs a {
  color: #20232a;
}

.blogSide {
  display: none;
}

@media only screen and (min-width: 410px) {
  .header {
    height: calc(100vh - 175px);
  }
  .blogsContainer > h2 {
    font-size: 2em;
  }
  .blogsContainer > h3 {
    font-size: 1.5em;
  }

  .blogs {
    margin: 20px auto;
    display: grid;
  }
  .blog {
    margin: 0 auto;
    display: block;
    border-radius: 8px;
    border: 2px solid #20232a;
    width: 300px;
    padding: 5px 10px;
  }
}
@media only screen and (min-width: 760px) {
  .header {
    height: calc(100vh - 125px);
  }
  .blogs {
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }

  .blogsContainer > h2 {
    display: initial;
    font-size: 2.5em;
  }
  .blogsContainer > h3 {
    display: initial;
    font-size: 1.8em;
    font-weight: 100;
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    height: calc(100vh - 100px);
    grid-template-columns: 3fr 1fr;
  }
  .blogSide {
    display: initial;
  }
}
