.header {
  height: calc(100vh - 175px);
}
.page {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 40px;
}
.page > h2 {
  display: none;
}
.page > h3 {
  display: none;
}
.container {
  display: grid;
  grid-template-columns: 1fr;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  grid-gap: 10px;
}
.container h3 {
  text-align: center;
  margin: 20px 0px;
  font-weight: 500;
}
.container p {
  color: #20232a;
  margin: 4px 0;
}

.container a {
  color: #20232a;
}

.side {
  display: none;
}

@media only screen and (min-width: 410px) {
  .header {
    height: calc(100vh - 175px);
  }
  .page > h2 {
    font-size: 2em;
  }
  .page > h3 {
    font-size: 1.5em;
  }
  .container {
    margin: 20px auto;
    display: grid;
  }
}
@media only screen and (min-width: 760px) {
  .header {
    height: calc(100vh - 125px);
  }
  .page {
    grid-template-columns: 1fr 1fr;
    padding: 20px;
  }

  .page > h2 {
    display: initial;
    font-size: 2.5em;
  }
  .page > h3 {
    display: initial;
    font-size: 1.8em;
    font-weight: 100;
  }
}

@media only screen and (min-width: 1200px) {
  .header {
    display: grid;
    height: calc(100vh - 100px);
    grid-template-columns: 3fr 1fr;
  }
  .side {
    display: initial;
  }
}
