.header {
  display: grid;
  grid-template-columns: 1fr;
  color: #20232a;
  height: calc(100vh - 175px);
}
.docsContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 40px;
}
.docsContainer > h2 {
  font-size: 2em;
}
.docsContainer > h3 {
  font-size: 1.5em;
  font-weight: 400;
}
.docsContainer p {
  color: #20232a;
  margin: 33% auto;
  font-size: 20px;
}
.docs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
  margin: 80px 20px;
}
.docs h3 {
  text-align: center;
  margin: 20px auto 0px;
  font-weight: 500;
}

.docs a {
  color: #20232a;
}

@media only screen and (min-width: 768px) {
  .header {
    height: calc(100vh - 125px);
  }
  .docsContainer > h2 {
    font-size: 2.5em;
  }
  .docsContainer > h3 {
    font-size: 1.8em;
    font-weight: 400;
  }
  .docsContainer p {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    height: calc(100vh - 100px);
  }
}

@media only screen and (min-width: 1200px) {
  .docsContainer p {
    margin: auto;
  }
}
