.docsContainer {
  text-align: center;
  padding-top: 40px;
  color: #20232a;
}
.docsContainer > h2 {
  font-size: 3em;
}
.docsContainer > h3 {
  font-size: 2em;
  font-weight: 400;
}
.docsContainer p {
  color: #20232a;
  margin: 80px;
  font-size: 20px;
}
.docs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 80px;
  margin: 80px 20px;
}
.docs h3 {
  text-align: center;
  margin: 20px auto 0px;
  font-weight: 500;
}

.docs a {
  color: #20232a;
}
