.header {
  display: grid;
  grid-template-columns: 1fr;
  color: var(--black);
  height: 100%;
}
.projContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 40px 0;
}
.projContainer > h2 {
  display: none;
}
.projContainer > h3 {
  display: none;
}
.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px 20px;
  padding: 0 20px;
}
.projects h3 {
  text-align: center;
  margin: 20px auto 0px;
  font-weight: 500;
}
.projects p {
  color: var(--black);
  margin-top: 4px;
}

.projects a {
  color: var(--black);
}

@media only screen and (min-width: 760px) {
  .projects {
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
  }
  .projContainer > h2 {
    display: initial;
    font-size: 2.5em;
  }
  .projContainer > h3 {
    display: initial;
    font-size: 1.8em;
    font-weight: 100;
  }
}

@media only screen and (min-width: 1200px) {
  .projects {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    padding: 20px;
  }
  .project {
    height: fit-content;
  }
}

@media only screen and (min-width: 1400px) {
  .projects {
    padding: 80px;
  }
}
